APP_NAME=my-car-admin-api
ENV=dev
API_V1_PREFIX=/api/v1
JWT_SECRET_KEY=replace-with-strong-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=my_car_admin
ADMIN_INIT_USERNAME=admin
ADMIN_INIT_PASSWORD=admin123456
